.text-editor {
    div[class~='ql-toolbar'] {
        border-radius: 4px 4px 0 0;
    }

    div[class~='ql-container'] {
        border-radius: 0 0 4px 4px;

        div[class~='ql-tooltip']{
            left: 20px !important;
        }

        div[class~='ql-editor'] {
            height: 500px;
            overflow: auto;
        }
    }

    svg {
        width: 18px;
    }

    [class~="ql-size"], [class~="ql-lineHeight"] {
        [class~="ql-picker-label"]::before {
            content: attr(data-value) !important;
        }

        [class="ql-picker-options"] {
            max-height: 150px;
            overflow-y: auto;

            [class="ql-picker-item"]::before {
                content: attr(data-value) !important;
            }
        }
    }

    [class~="ql-lineHeight"] {
        [class~="ql-picker-label"] {
            padding-left: 4px !important;
            svg {
                display: none;
            }
        }
    }
}